modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 32791
externalPort = 3001

[[ports]]
localPort = 32887
externalPort = 8081

[[ports]]
localPort = 33715
externalPort = 8080

[[ports]]
localPort = 34597
externalPort = 3003

[[ports]]
localPort = 35359
externalPort = 8008

[[ports]]
localPort = 36213
externalPort = 6000

[[ports]]
localPort = 36351
externalPort = 3000

[[ports]]
localPort = 37039
externalPort = 3002

[[ports]]
localPort = 41213
externalPort = 5173

[[ports]]
localPort = 44977
externalPort = 8099

[[ports]]
localPort = 45029
externalPort = 4200

[[ports]]
localPort = 45077
externalPort = 8000

[[ports]]
localPort = 45565
externalPort = 5000

[[ports]]
localPort = 46679
externalPort = 6800
